<h1>Dear Team,</h1>
<p>This is an automated message to let you know that we have received an inquiry for our Free Trial from a potential customer who is interested in our product and has requested to view it. </p>

<p>Our representative will be in touch with the customer shortly to confirm the appointment and answer any questions they may have. This is a great opportunity for us to showcase our product and provide an exceptional customer experience.</p>
<p>Please ensure that you are prepared to assist with any inquiries that may arise and that you have up-to-date knowledge of our product features and benefits.</p>
<p>Here are the customer details:</p>
<ul>
    <li>Customer Name: {{lname}}, {{fname}} </li>
    <li>Company Name: {{cname}}</li>
    <li>Phone Number: {{cno}}</li>
    <li>Email: {{email}}</li>
</ul>
<p>This is an automated message</p>