<h1>Dear Team,</h1>
<p>This is an automated message to let you know that we have received an inquiry for our <strong>Subscription Plan (${data.title})</strong> from a potential customer who is interested in our product and has requested to view it. </p>
<p>Here are the Subscription details:</p>
<ul>
  <li>Subscription Title: ${data.title} </li>
  <li>Max Tenants: ${data.maxTenants}</li>
  <li>Training Session: ${data.numTrainingSessions}</li>
  <li>Amount: P ${data.price}</li>
  <li>Discount: ${data.discount_string !== '' ? data.discount_string + ' OFF' : 'None'}</li>
  <li>Billing Cycle: ${data.months} month/s </li>
  <li>Total Amount: P ${data.discounted_plan}</li>
</ul>

<p>Our representative will be in touch with the customer shortly to confirm the appointment and answer any questions they may have. This is a great opportunity for us to showcase our product and provide an exceptional customer experience.</p>
<p>Please ensure that you are prepared to assist with any inquiries that may arise and that you have up-to-date knowledge of our product features and benefits.</p>
<p>Here are the customer details:</p>
<ul>
  <li>Customer Name: ${data.to_fname} ${data.to_fname} </li>
  <li>Company Name: ${data.company_name}</li>
  <li>Phone Number: ${data.phone_input}</li>
  <li>Email: ${data.customer_email}</li>
</ul>
<p>This is an automated message</p>